analisis-cv.json
{
  "name": "analisis-cv",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibir-cv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        -192
      ],
      "id": "1c5bee5f-2774-4911-b8e1-92adc432ba1c",
      "name": "Recibir Formulario",
      "webhookId": "3fa29659-4275-4328-a9e1-820151456333"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2e18273-c621-4d90-a954-5f0ac7cdf593",
              "name": "nombre",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "552561b5-01da-428a-823b-6cc7911e2f7b",
              "name": "email",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "8d9ffe09-2af6-4858-8e43-9d7936ef814c",
              "name": "vacante",
              "value": "={{ {\"95df890d\":\"Desarrollador Full Stack\",\"f2d884dc\":\"Desarrollador Frontend\",\"34e724aa\":\"Desarrollador Backend\",\"86d8b7b3\":\"Diseñador UX/UI\",\"64fbab9b\":\"Diseñador Gráfico\",\"08cb3415\":\"Community Manager\",\"22e2dc52\":\"Marketing Digital\",\"603e49c9\":\"SEO Specialist\",\"d1bde7d9\":\"Analista de Datos\",\"c3f11a07\":\"Científico de Datos\",\"bc44ad55\":\"Ingeniero DevOps\",\"2650e5f6\":\"Administrador de Base de Datos\",\"bbf1c755\":\"Arquitecto de Software\",\"2de593b1\":\"QA Tester\",\"1886f6ad\":\"Product Manager\",\"15c2c8e6\":\"Project Manager\",\"6ffaeb03\":\"Scrum Master\",\"1e69a566\":\"Business Analyst\",\"8af926f1\":\"Analista Financiero\",\"b0aef32a\":\"Contador\",\"9554ad79\":\"Recursos Humanos\",\"883f4765\":\"Reclutador\",\"e732d943\":\"Vendedor Comercial\",\"d0c16322\":\"Ejecutivo de Ventas\",\"ac01dcf2\":\"Atención al Cliente\",\"57c1c693\":\"Soporte Técnico\",\"5ba17574\":\"Administrador de Redes\",\"57a011bf\":\"Ciberseguridad\",\"4f513555\":\"Ingeniero Cloud\",\"a45c480c\":\"Ingeniero de Inteligencia Artificial\",\"cf48df52\":\"Copywriter\",\"8cbea4e7\":\"Editor de Video\",\"8634c09d\":\"Fotógrafo\",\"433f0703\":\"Ilustrador Digital\",\"2c1deae1\":\"Animador 3D\",\"26009626\":\"Logística y Supply Chain\",\"a7a34bf2\":\"Coordinador de Operaciones\",\"c4508feb\":\"Asistente Administrativo\",\"63c6f57f\":\"Secretaria Ejecutiva\",\"55eeb829\":\"Recepcionista\",\"9badfa8e\":\"Abogado Corporativo\",\"01a3abd3\":\"Ingeniero Civil\",\"d10caff4\":\"Arquitecto\",\"70ef0aca\":\"Ingeniero Industrial\",\"6c28a792\":\"Médico Ocupacional\",\"a3277786\":\"Psicólogo Organizacional\",\"d2189b82\":\"Nutricionista\",\"e46b8286\":\"Entrenador Personal\",\"31cb4f1e\":\"Docente / Capacitador\",\"70dddbce\":\"Operario de Aseo\"}[$json.body.data.fields[2].value[0].substring(0,8)] }}",
              "type": "string"
            },
            {
              "id": "c7ba60bd-4144-4fac-8f81-db2eff16f688",
              "name": "urlCV",
              "value": "={{ $json.body.data.fields[3].value[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -192
      ],
      "id": "1e286d25-b5cc-4b46-b751-6331b6407a36",
      "name": "Extraer Datos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            },
            {
              "lookupColumn": "vacante",
              "lookupValue": "={{ $json.vacante }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1184,
        -192
      ],
      "id": "7e1bb0d3-5376-48c8-959d-ab2b58fca268",
      "name": "Verificar Duplicado",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TDkXM9NksELL9TVY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resultados = $input.all();\nconst extraerDatos = $('Extraer Datos').first().json;\n\n// Si el primer resultado tiene row_number, significa que encontró un registro existente\nconst primerItem = resultados[0].json;\nconst duplicado = primerItem.hasOwnProperty('row_number');\n\nreturn [{ json: { ...extraerDatos, duplicado: duplicado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -192
      ],
      "id": "e89e3f58-356a-43ba-9c5e-137900e57abf",
      "name": "Check Duplicado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db85d6aa-6bf3-4118-b26e-01098f6c4c69",
              "leftValue": "={{ $json.duplicado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        -208
      ],
      "id": "f7f43016-1293-44a4-a841-e45208f85cb7",
      "name": "¿Ya aplicó?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer Datos').item.json.email }}",
        "subject": "Ya tienes una aplicación en proceso 📋",
        "message": "=Hola {{ $('Extraer Datos').item.json.nombre }},\n\nHemos detectado que ya tienes una aplicación activa en nuestro proceso de selección para la vacante de {{ $('Extraer Datos').item.json.vacante }}.\n\nNo es necesario que apliques nuevamente. Te notificaremos sobre el estado de tu proceso oportunamente.\n\n¡Gracias por tu interés! 😊",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        -352
      ],
      "id": "1c583046-2d29-4995-a266-25153fae4244",
      "name": "Email - Ya Aplicó",
      "webhookId": "db3be5c9-4549-45d9-9a9e-908451957cc9",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Extraer Datos').item.json.urlCV }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "attachment_0"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -688,
        -96
      ],
      "id": "ca808704-072f-46b6-b6f5-217c77908c5f",
      "name": "Descargar CV"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        -96
      ],
      "id": "4b9befeb-1115-4fff-b69c-c8f0d806c3b1",
      "name": "Extraer Texto del CV"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "Vacantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1584672612,
          "mode": "list",
          "cachedResultName": "Vacantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=1584672612"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Vacante",
              "lookupValue": "={{ $('Extraer Datos').item.json.vacante }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -96
      ],
      "id": "dfe44b65-c669-4f67-814b-3fcdcb8a0839",
      "name": "Buscar Vacante",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TDkXM9NksELL9TVY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2f489d1-c47f-4015-a8c4-5bf281133bb5",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Activa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -96
      ],
      "id": "2a9b8c71-e757-43d9-a6d9-2abc0f7b5d2b",
      "name": "¿Vacante Activa?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer Datos').item.json.email }}",
        "subject": "Vacante no disponible 😔",
        "message": "=Hola {{ $('Extraer Datos').item.json.nombre }},\n\nGracias por tu interés en formar parte de nuestro equipo. Lamentablemente, la vacante de {{ $('Extraer Datos').item.json.vacante }} a la que aplicaste ya no se encuentra disponible.\n\nTe invitamos a estar atento a nuestras próximas convocatorias.\n\n¡Mucho éxito! 🍀",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        16
      ],
      "id": "4453ce58-aa74-4282-88ea-2bf2aba8c2e2",
      "name": "Email - Vacante Cerrada",
      "webhookId": "3c3ed146-4f2d-475a-a0e1-1ee4ab99c956",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un reclutador experto. Analiza el siguiente CV y evalúalo en base a esta vacante:\n\nVACANTE: {{ $('Buscar Vacante').item.json.Vacante }}\nREQUISITOS: {{ $('Buscar Vacante').item.json.Requisitos }}\n\nCon base en eso, extrae y devuelve:\n- nombre\n- email\n- nivel (Junior/Intermedio/Senior)\n- puntuacion (del 1 al 10 según qué tan apto es para la vacante)\n- resumen (por qué es o no apto para la vacante)\n- fecha (fecha de hoy)\n\nIMPORTANTE: Responde ÚNICAMENTE con el JSON puro, sin texto adicional, sin explicaciones, sin markdown, sin bloques de código. Solo así:\n{\"nombre\":\"\",\"email\":\"\",\"nivel\":\"\",\"puntuacion\":0,\"resumen\":\"\",\"fecha\":\"\"}\n\nIMPORTANTE: Si los requisitos indican \"no requiere experiencia ni estudios mínimos\", \ncualquier candidato mayor de edad con ciudadanía colombiana debe recibir una \npuntuación mínima de 8/10.\n\nCV A ANALIZAR:\n{{ $('Extraer Texto del CV').item.json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        80,
        -160
      ],
      "id": "018f6ec8-ac31-4a84-b451-562398924d8a",
      "name": "Analizar CV con IA"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "78256fe1-7da1-446d-a836-c7013883a857",
      "name": "Modelo de IA",
      "credentials": {
        "groqApi": {
          "id": "0dOgg4vzkM940Iiv",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CORRECCIÓN BUG #5: Parsear el JSON de la IA UNA sola vez aquí\n// y exponer los campos como propiedades planas para que Organizar Datos los use.\nconst raw = $input.first().json.text.trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  // Si falla el parse, intentar extraer el JSON del texto (por si el modelo añade texto extra)\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    throw new Error('No se pudo parsear la respuesta de la IA: ' + raw);\n  }\n}\n\nconst extraerDatos = $('Extraer Datos').first().json;\n\nreturn [{\n  json: {\n    nombre: parsed.nombre || '',\n    email: parsed.email || '',\n    nivel: parsed.nivel || '',\n    puntuacion: Number(parsed.puntuacion) || 0,\n    resumen: parsed.resumen || '',\n    fecha: $now.setZone('America/Bogota').toFormat('d/M/yyyy'),\n    vacante: extraerDatos.vacante,\n    \"estado del proceso\": \"Aplicó\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "af5dd19d-ba4e-4d6b-b8c6-95b3c3c71989",
      "name": "Parsear Respuesta IA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2cba6492-a11a-4aa1-96c6-72d109e070b1",
              "leftValue": "={{ $json.puntuacion }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -96
      ],
      "id": "5beeaa7b-5da1-42f2-af10-f58aa2a25087",
      "name": "Filtrar por Puntuación"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "vacante": "={{ $json.vacante }}",
            "nivel": "={{ $json.nivel }}",
            "puntuacion": "={{ $json.puntuacion }}",
            "resumen": "={{ $json.resumen }}",
            "fecha": "={{ $json.fecha }}",
            "estado del proceso": "={{ $json['estado del proceso'] }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "puntuacion",
              "displayName": "puntuacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resumen",
              "displayName": "resumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vacante",
              "displayName": "vacante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado del proceso",
              "displayName": "estado del proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -192
      ],
      "id": "2f6c3f71-c000-4c98-8562-7e29a4639102",
      "name": "Guardar en Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TDkXM9NksELL9TVY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Recibimos tu hoja de vida ✅",
        "message": "=Hola {{ $json.nombre }},\n\nHemos recibido tu hoja de vida para la vacante de \n<b>{{ $json.vacante }}</b> exitosamente.\n\nEstamos revisando tu perfil y pronto te contactaremos \ncon los siguientes pasos.\n\n¡Mucho éxito! 🍀\n\nEquipo de Recursos Humanos",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        -192
      ],
      "id": "8bed0d19-326f-48a1-a28b-a99640c60a5f",
      "name": "Email al Candidato",
      "webhookId": "c01a3d57-66b6-4322-87da-b6fad2464c72",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "vacante": "={{ $json.vacante }}",
            "nivel": "={{ $json.nivel }}",
            "puntuacion": "={{ $json.puntuacion }}",
            "resumen": "={{ $json.resumen }}",
            "fecha": "={{ $json.fecha }}",
            "estado del proceso": "Rechazado"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nivel",
              "displayName": "nivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "puntuacion",
              "displayName": "puntuacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen",
              "displayName": "resumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacante",
              "displayName": "vacante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado del proceso",
              "displayName": "estado del proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        0
      ],
      "id": "f5471930-2813-4a3a-bbe5-c33ea8e5b67b",
      "name": "Guardar Rechazado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TDkXM9NksELL9TVY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Actualización sobre tu aplicación",
        "message": "=Hola {{ $json.nombre }},\n\nAgradecemos tu interés en la vacante de <b>{{ $json.vacante }}</b> y el tiempo que dedicaste a aplicar.\n\nLuego de revisar tu perfil, hemos decidido continuar con otros candidatos que se ajustan mejor a los requisitos de la posición en este momento.\n\nTe animamos a seguir aplicando a nuestras futuras vacantes. ¡Mucho éxito! 🍀\n\nEquipo de Recursos Humanos",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "3b972ada-7a61-4564-a5d5-2813d29845db",
      "name": "Email Rechazo",
      "webhookId": "b6a986b7-22ff-478b-aed7-fa92ca6306f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8005467511",
        "text": "=🚨 Nuevo CV recibido!\n\n📝 Estado: {{ $('Guardar en Sheets').item.json['estado del proceso'] }}\n👤 Nombre: {{ $('Guardar en Sheets').item.json.nombre }}\n📧 Email: {{ $('Guardar en Sheets').item.json.email }}\n🎯 Vacante: {{ $('Guardar en Sheets').item.json.vacante }}\n📊 Nivel: {{ $('Guardar en Sheets').item.json.nivel }}\n⭐ Puntuación: {{ $('Guardar en Sheets').item.json.puntuacion }}\n📝 Resumen: {{ $('Guardar en Sheets').item.json.resumen }}\n📅 Fecha: {{ $('Guardar en Sheets').item.json.fecha }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -192
      ],
      "id": "82651aa6-f341-4ecd-893b-50a3b2f9e97a",
      "name": "Notificar Reclutador",
      "webhookId": "8d8d2937-e45c-434d-aad3-b6917993dd80",
      "credentials": {
        "telegramApi": {
          "id": "ajJv84M3pGQlUota",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8005467511",
        "text": "=📋 Prueba Psicotécnica Completada!\n\n👤 Candidata: {{ $('Buscar Candidata en Sheet').item.json.nombre }}\n📧 Email: {{ $('Extraer Datos Prueba').item.json.email }}\n🎯 Vacante: {{ $('Buscar Candidata en Sheet').item.json.vacante }}\n⭐ Puntaje total: {{ $('Extraer Datos Prueba').item.json.puntaje_total }}/50\n\n📊 Detalle de respuestas:\n1. Trabajo bajo presión: {{ $('Extraer Datos Prueba').item.json.p1_presion }}/5\n2. Trabajo en equipo: {{ $('Extraer Datos Prueba').item.json.p2_trabajo_equipo }}/5\n3. Adaptación al cambio: {{ $('Extraer Datos Prueba').item.json.p3_adaptacion }}/5\n4. Manejo de errores: {{ $('Extraer Datos Prueba').item.json.p4_errores }}/5\n5. Comunicación: {{ $('Extraer Datos Prueba').item.json.p5_comunicacion }}/5\n6. Multitarea: {{ $('Extraer Datos Prueba').item.json.p6_multitarea }}/5\n7. Orientación a retos: {{ $('Extraer Datos Prueba').item.json.p7_retos }}/5\n8. Manejo de conflictos: {{ $('Extraer Datos Prueba').item.json.p8_conflictos }}/5\n9. Cumplimiento de normas: {{ $('Extraer Datos Prueba').item.json.p9_normas }}/5\n10. Proactividad: {{ $('Extraer Datos Prueba').item.json.p10_proactividad }}/5\n\n✅ Estado actualizado a: Exámenes Médicos\n📩 Email de citación enviado automáticamente.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        272
      ],
      "id": "0d46b9f0-2146-4097-8fa2-a588868ab8b6",
      "name": "Notificar Reclutador2",
      "webhookId": "583fb936-f2d6-4751-8d33-69be7f8c6cd0",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ajJv84M3pGQlUota",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prueba-psicotecnica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        272
      ],
      "id": "106bcf8a-a3da-4943-9ed0-be383cd1e008",
      "name": "Recibir Prueba Psicotécnica",
      "webhookId": "psico-webhook-unique-xyz789"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        272
      ],
      "id": "d1c70cd6-6451-4b78-80f6-0136790b357d",
      "name": "Buscar Candidata en Sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TDkXM9NksELL9TVY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Extraer Datos Prueba').item.json.email }}",
            "estado del proceso": "Exámenes Médicos"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado del proceso",
              "displayName": "estado del proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        272
      ],
      "id": "d9505025-c8a3-4482-b3cd-008dcc110b02",
      "name": "Actualizar Estado a Exámenes Médicos",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TDkXM9NksELL9TVY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "psico-email",
              "name": "email",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "psico-p1",
              "name": "p1_presion",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "number"
            },
            {
              "id": "psico-p2",
              "name": "p2_trabajo_equipo",
              "value": "={{ $json.body.data.fields[2].value }}",
              "type": "number"
            },
            {
              "id": "psico-p3",
              "name": "p3_adaptacion",
              "value": "={{ $json.body.data.fields[3].value }}",
              "type": "number"
            },
            {
              "id": "psico-p4",
              "name": "p4_errores",
              "value": "={{ $json.body.data.fields[4].value }}",
              "type": "number"
            },
            {
              "id": "psico-p5",
              "name": "p5_comunicacion",
              "value": "={{ $json.body.data.fields[5].value }}",
              "type": "number"
            },
            {
              "id": "psico-p6",
              "name": "p6_multitarea",
              "value": "={{ $json.body.data.fields[6].value }}",
              "type": "number"
            },
            {
              "id": "psico-p7",
              "name": "p7_retos",
              "value": "={{ $json.body.data.fields[7].value }}",
              "type": "number"
            },
            {
              "id": "psico-p8",
              "name": "p8_conflictos",
              "value": "={{ $json.body.data.fields[8].value }}",
              "type": "number"
            },
            {
              "id": "psico-p9",
              "name": "p9_normas",
              "value": "={{ $json.body.data.fields[9].value }}",
              "type": "number"
            },
            {
              "id": "psico-p10",
              "name": "p10_proactividad",
              "value": "={{ $json.body.data.fields[10].value }}",
              "type": "number"
            },
            {
              "id": "psico-total",
              "name": "puntaje_total",
              "value": "={{ $json.body.data.fields[1].value + $json.body.data.fields[2].value + $json.body.data.fields[3].value + $json.body.data.fields[4].value + $json.body.data.fields[5].value + $json.body.data.fields[6].value + $json.body.data.fields[7].value + $json.body.data.fields[8].value + $json.body.data.fields[9].value + $json.body.data.fields[10].value }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        272
      ],
      "id": "00d240a6-a9cd-4211-9cee-f321352015d6",
      "name": "Extraer Datos Prueba"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['estado del proceso'] }}",
                    "rightValue": "En Revisión",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9d36f3c8-0877-42b6-aaaf-5ee863380b84"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "En Revisión"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb9d6bd0-07ec-4b01-936d-5766effe562d",
                    "leftValue": "={{ $json['estado del proceso'] }}",
                    "rightValue": "Entrevista",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e00af48-b5bc-46e1-a2a5-c46c38576b05",
                    "leftValue": "={{ $json['estado del proceso'] }}",
                    "rightValue": "Prueba Psicotécnica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e82010c6-0bab-479a-aa56-d2c6395bbcd5",
                    "leftValue": "={{ $json['estado del proceso'] }}",
                    "rightValue": "Contratado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1616,
        112
      ],
      "id": "7e96ae18-7a20-4a11-b7a2-3193aa41dfd1",
      "name": "Switch"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "analisis-cv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynJPqTjfyIaL-OXWMxiruy2PVOWIWlYkbwcqOE5vEOA/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -2048,
        144
      ],
      "id": "2b87910a-b914-4e56-9c99-4ff13317d166",
      "name": "Sheets - Cambio de Estado",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "TQDs0XxnidliDI79",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-01",
              "leftValue": "={{ $json['estado del proceso'].trim() }}",
              "rightValue": "Aplicó",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "filter-02",
              "leftValue": "={{ $json['estado del proceso'].trim() }}",
              "rightValue": "Rechazado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -1840,
        144
      ],
      "id": "ff3bbc59-973b-4aed-ba1f-747d1435f2b3",
      "name": "Filtrar Estados"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}",
        "subject": "¡Felicitaciones! Fuiste preseleccionado/a 🎯",
        "message": "=Hola {{ $json[\"nombre\"] }},\n\n¡Excelentes noticias! Tu hoja de vida para la vacante de {{ $json[\"vacante\"] }} ha superado nuestro proceso de evaluación y has sido preseleccionado/a para continuar en el proceso de selección.\n\nNuestro equipo de reclutamiento está revisando tu perfil en detalle. Estate muy atento/a a tu correo, pronto te informaremos los próximos pasos.\n\n¡Sigue adelante, vas muy bien! 🚀",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1312,
        48
      ],
      "id": "54a08731-4576-44cd-b6e0-2345c6b39a0f",
      "name": "Email - En Revisión",
      "webhookId": "e4872b84-7f1c-44e0-9c40-1e70e87b0162",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}",
        "subject": "¡Te invitamos a una entrevista! 🎉",
        "message": "=Hola {{ $json[\"nombre\"] }},\n\n¡Excelentes noticias! Has avanzado al siguiente paso del proceso de selección para la vacante de {{ $json[\"vacante\"] }}.\n\nNos gustaría citarte a una entrevista. Por favor agenda tu entrevista en el siguiente enlace eligiendo el horario que mejor te convenga:\n\n👉 https://calendly.com/dsanchex683/entrevista\n\nLa entrevista tendrá una duración de 30 minutos y se realizará de forma virtual.\n\n¡Esperamos verte pronto! 😊",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1328,
        240
      ],
      "id": "696fcff3-553b-4cea-9cd5-652b8fbaf27b",
      "name": "Email - Entrevista",
      "webhookId": "9fbb873f-dd48-4157-97fb-45b213cf204f",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}",
        "subject": "¡Tienes una prueba psicotécnica pendiente! 📝",
        "message": "=Hola {{ $json[\"nombre\"] }},\n\n¡Felicitaciones! Has avanzado al siguiente paso del proceso de selección para la vacante de {{ $json[\"vacante\"] }}.\n\nComo parte del proceso, necesitamos que completes una breve prueba de personalidad. No tiene respuestas correctas o incorrectas, simplemente queremos conocerte mejor 😊\n\n👉 https://tally.so/r/pbAXJ1\n\nLa prueba toma aproximadamente 5 minutos. Por favor complétala lo antes posible.\n\n¡Mucho éxito! 💪",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1328,
        400
      ],
      "id": "6a6ff503-1c55-497d-a2cf-a238adecdbcd",
      "name": "Email - Prueba Psicotécnica",
      "webhookId": "cc05b49d-b14c-42c2-abf6-d9a11a2a5591",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}",
        "subject": "¡Bienvenido al equipo! 🎊",
        "message": "=Hola {{ $json[\"nombre\"] }},\n\n¡Tenemos excelentes noticias! Es un placer informarte que has sido seleccionado para la vacante de {{ $json[\"vacante\"] }}.\n\n¡Bienvenido al equipo! 🎉 Pronto nos comunicaremos contigo con todos los detalles para tu incorporación.\n\n¡Estamos muy emocionados de tenerte con nosotros! 🚀",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        608
      ],
      "id": "7de85a57-40ba-44b6-b171-fd7d3facf458",
      "name": "Email - Contratado",
      "webhookId": "c5accfe1-da4a-4ee8-bcc4-9b32185af348",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Buscar Candidata en Sheet').item.json.email }}",
        "subject": "Citación a Exámenes Médicos Laborales 🏥",
        "message": "=Hola {{ $('Buscar Candidata en Sheet').item.json.nombre  }} ,\n\n¡Estás muy cerca de hacer parte de nuestro equipo! Para continuar con tu proceso de vinculación a la vacante de {{ $('Buscar Candidata en Sheet').item.json.vacante }}, necesitamos que te realices los exámenes médicos laborales de ingreso a la mayor brevedad posible, ya que requerimos los resultados con urgencia para avanzar con tu contratación.\n\nAcércate lo antes posible al centro médico que te quede más cerca:\n\n🏥 MediLaboral IPS\n📍 Sede Norte: Calle 80 #45-23, Barrio Laureles, Medellín\n📍 Sede Sur: Carrera 43A #18-12, Barrio El Poblado, Medellín\n\n📋 Recuerda llevar:\n- Cédula de ciudadanía original\n- Asistir en ayunas\n\n⏰ Horario de atención: Lunes a viernes de 7:00 am a 4:00 pm.\n\n¡Estás muy cerca de lograrlo! 💪",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        480
      ],
      "id": "2f479309-f515-4a1d-b300-208ffb52a618",
      "name": "Email - Exámenes Médicos",
      "webhookId": "42b7f248-410a-46e6-b7d4-3f192de7fea7",
      "credentials": {
        "gmailOAuth2": {
          "id": "VemE8JfiIB48tk1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8005467511",
        "text": "=🚨 Nuevo CV recibido!\n\n📝 Estado: {{ $('Guardar Rechazado').item.json['estado del proceso'] }}\n👤 Nombre: {{ $('Guardar Rechazado').item.json.nombre }}\n📧 Email: {{ $('Guardar Rechazado').item.json.email }}\n🎯 Vacante: {{ $('Guardar Rechazado').item.json.vacante }}\n📊 Nivel: {{ $('Guardar Rechazado').item.json.nivel }}\n⭐ Puntuación: {{ $('Guardar Rechazado').item.json.puntuacion }}\n📝 Resumen: {{ $('Guardar Rechazado').item.json.resumen }}\n📅 Fecha: {{ $('Guardar Rechazado').item.json.fecha }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        0
      ],
      "id": "7e67f1c2-f367-4c00-a825-7d4f1cb5db2f",
      "name": "Notificar Reclutador1",
      "webhookId": "8d8d2937-e45c-434d-aad3-b6917993dd80",
      "credentials": {
        "telegramApi": {
          "id": "ajJv84M3pGQlUota",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir Formulario": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Verificar Duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Duplicado": {
      "main": [
        [
          {
            "node": "Check Duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicado": {
      "main": [
        [
          {
            "node": "¿Ya aplicó?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ya aplicó?": {
      "main": [
        [
          {
            "node": "Email - Ya Aplicó",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar CV": {
      "main": [
        [
          {
            "node": "Extraer Texto del CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto del CV": {
      "main": [
        [
          {
            "node": "Buscar Vacante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Vacante": {
      "main": [
        [
          {
            "node": "¿Vacante Activa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Vacante Activa?": {
      "main": [
        [
          {
            "node": "Analizar CV con IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Vacante Cerrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de IA": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar CV con IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analizar CV con IA": {
      "main": [
        [
          {
            "node": "Parsear Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta IA": {
      "main": [
        [
          {
            "node": "Filtrar por Puntuación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por Puntuación": {
      "main": [
        [
          {
            "node": "Guardar en Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Sheets": {
      "main": [
        [
          {
            "node": "Email al Candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email al Candidato": {
      "main": [
        [
          {
            "node": "Notificar Reclutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Rechazado": {
      "main": [
        [
          {
            "node": "Email Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Prueba Psicotécnica": {
      "main": [
        [
          {
            "node": "Extraer Datos Prueba",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Candidata en Sheet": {
      "main": [
        [
          {
            "node": "Actualizar Estado a Exámenes Médicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado a Exámenes Médicos": {
      "main": [
        [
          {
            "node": "Notificar Reclutador2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Exámenes Médicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Prueba": {
      "main": [
        [
          {
            "node": "Buscar Candidata en Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Email - En Revisión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Entrevista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Prueba Psicotécnica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Contratado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Cambio de Estado": {
      "main": [
        [
          {
            "node": "Filtrar Estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Estados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Rechazo": {
      "main": [
        [
          {
            "node": "Notificar Reclutador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b8f689b-cddc-4099-a710-26beee671a61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d03888bb0cda25df4a1ad3851243475954ca91ddd3233540aafb991b7f0a1834"
  },
  "id": "d5jDL5Nzl9IZISbp",
  "tags": []
}